---
import { Picture } from "astro:assets";
import ThemedImage from "../components/ThemedImage.astro";
import type { Summary } from "../interfaces/summary";
import MainLayout from "../layouts/MainLayout.astro";
import fetchApi from "../lib/strapi";

// these settings can be configured in code or designed in Paper

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const summary = await fetchApi<Summary>({
  endpoint: "summary",
  wrappedByKey: "data",
  query: {
    populate: {
      picture: true,
      associations: {
        populate: {
          logo: true,
          logo_dark: true,
        },
      },
    },
  },
});
---

<MainLayout>
  <div
    class="mt-38 w-full flex flex-col justify-center items-center z-10 text-black dark:text-white"
  >
    <div class="flex flex-col items-center mb-30">
      <Picture
        width={200}
        height={200}
        formats={["avif", "webp"]}
        loading={"eager"}
        fetchpriority={"high"}
        src={import.meta.env.STRAPI_URL + summary.picture.url}
        alt="Profile Image"
        class="rounded-full border-4 border-black dark:border-white shadow-lg dark:shadow-gray-700 object-cover"
      />
      <div
        class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-center mt-3"
      >
        {summary.name}
      </div>
      <div
        class="text-base md:text-lg text-stone-800 dark:text-gray-400 text-center"
      >
        {summary.title}
      </div>
      <div
        class="text-xl mt-4 flex flex-col items-center gap-2 text-stone-800 dark:text-gray-400"
      >
        <div class="flex items-center gap-10 mt-2">
          {
            summary.associations.map((association) => (
              <div class="flex items-center justify-center">
                <ThemedImage
                  inferSize={true}
                  alt={association.name}
                  image={association.logo}
                  imageDark={association.logo_dark}
                  class="h-6 max-w-32 md:h-8 md:max-w-40 w-auto object-contain"
                  size="xs"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</MainLayout>
