---
import MainLayout from "../layouts/MainLayout.astro";

import fetchApi from "../lib/strapi";

import { Icon } from "astro-icon/components";
import Markdown from "../components/Markdown.astro";

import type { Resume } from "../interfaces/resume";
import type { Summary } from "../interfaces/summary";

import { Picture } from "astro:assets";
import dayjs from "dayjs";
import ThemedImage from "../components/ThemedImage.astro";

import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";

const summary = await fetchApi<Summary>({
  endpoint: "summary",
  wrappedByKey: "data",
});
const resume = await fetchApi<Resume>({
  endpoint: "resume",
  wrappedByKey: "data",
  query: {
    populate: {
      picture: true,
      socials: true,
      workplaces: {
        populate: {
          association: {
            populate: "*",
          },
        },
      },
      institutions: {
        populate: {
          association: {
            populate: "*",
          },
        },
      },
    },
  },
});
---

<MainLayout>
  <Schema
    item={{
      "@context": "https://schema.org",
      "@type": "Person",
      name: summary.name,
      url: import.meta.env.SITE_URL,
      image: import.meta.env.STRAPI_URL + resume.picture.url,
      jobTitle: "Master Student in Data Science",
      sameAs: [resume.socials.map((social) => social.url)].flat(),
    }}
    slot="meta"
  />

  <SEO
    title={summary.name + " - Resume"}
    openGraph={{
      image: {
        url: import.meta.env.STRAPI_URL + resume.picture.url,
        alt: `${summary.name} - Profile Image`,
      },
      basic: {
        url: import.meta.env.SITE_URL,
        type: "website",
        title: summary.name + " - Personal Website",
        image: import.meta.env.STRAPI_URL + resume.picture.url,
      },
    }}
    slot="meta"
  />
  <div class="text-black dark:text-white px-4 md:px-10 py-12 min-h-screen">
    <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10">
      <!-- Sidebar -->
      <aside class="md:sticky md:top-32 self-start">
        <div class="rounded-2xl p-6 flex flex-col items-center text-center">
          <Picture
            height={128}
            width={128}
            formats={["avif", "webp"]}
            loading={"eager"}
            fetchpriority={"high"}
            src={import.meta.env.STRAPI_URL + resume.picture.url}
            alt="Profile Image"
            class="w-32 h-32 rounded-full object-cover border-4 border-black dark:border-white mb-4"
          />
          <h1 class="text-2xl font-bold">{summary.name}</h1>
          <p class="text-black dark:text-gray-400">{summary.title}</p>

          <!-- Social Icons -->
          <div class="flex space-x-1 mt-4">
            {
              resume.socials.map((social) => (
                <a
                  href={social.url}
                  target="_blank"
                  aria-label={social.name}
                  class="p-2 px-4 rounded-xl dark:hover:bg-gray-900 hover:bg-neutral-200 transition"
                >
                  <Icon name={social.icon} class="h-5 w-5" />
                </a>
              ))
            }
          </div>
          <div class="mt-8 space-y-3 w-full text-center text-sm">
            <div>
              <p class="text-black dark:text-gray-400 uppercase text-xs mb-1">
                Email
              </p>
              <p class="font-semibold">{resume.email}</p>
            </div>
          </div>
        </div>
      </aside>

      <!-- Main Content -->
      <section class="md:col-span-2 space-y-10">
        <!-- About Me -->
        <div>
          <h2 class="text-xl font-semibold border-b border-[#2e2e45] pb-2 mb-2">
            About Me
          </h2>
          <p class="text-stone-900 dark:text-gray-300">
            {resume.about}
          </p>
        </div>

        <!-- Experience -->
        <div>
          <h2 class="text-xl font-semibold border-b border-[#2e2e45] pb-2 mb-4">
            Work Experience
          </h2>

          <div class="space-y-6">
            {
              resume.workplaces.map((work) => (
                <div>
                  <h3 class="font-bold text-lg">{work.title}</h3>
                  <div class="flex items-center mb-2">
                    <div class="py-2 mr-2">
                      <ThemedImage
                        image={work.association.logo}
                        imageDark={work.association.logo_dark}
                        sizeMap={{
                          "64w": "tiny",
                          "256w": "xs",
                          "500w": "small",
                        }}
                        sizes="(max-width: 768px) 64px, 112px"
                        size="xs"
                        alt={work.association.name}
                        inferSize={true}
                        class="h-6 max-w-32  w-auto object-contain mt-auto"
                      />
                    </div>
                    <p class="text-stone-700 dark:text-stone-400 text-sm">
                      {work.association.name} —{" "}
                      <span class="text-[#1c5e94] dark:text-[#92C8F5]">
                        {dayjs(work.start_date).format("YYYY")} -{" "}
                        {work.end_date
                          ? dayjs(work.end_date).format("YYYY")
                          : "Present"}
                      </span>
                    </p>
                  </div>
                  <div class="text-stone-900 dark:text-stone-300 mt-1">
                    {work.content && <Markdown content={work.content} />}
                  </div>
                </div>
              ))
            }
          </div>

          <!-- Education -->
          <div class="mt-10">
            <h2
              class="text-xl font-semibold border-b border-[#2e2e45] pb-2 mb-4"
            >
              Education
            </h2>

            <div class="space-y-6">
              {
                resume.institutions.map((institute) => (
                  <div>
                    <h3 class="font-bold text-lg max-w-140">
                      {institute.title}
                    </h3>
                    <h4 class="text-base text-stone-600 dark:text-stone-300 max-w-140">
                      {institute.subtitle}
                    </h4>
                    <div class="flex items-center mb-2">
                      <div class="h-14 max-w-28 mr-2">
                        <ThemedImage
                          image={institute.association.logo}
                          imageDark={institute.association.logo_dark}
                          size="xs"
                          sizeMap={{
                            "64w": "tiny",
                            "256w": "xs",
                            "512w": "small",
                          }}
                          alt={institute.association.name}
                          height={56}
                          width={112}
                          class="h-full object-contain"
                        />
                      </div>
                      <p class="text-stone-700 dark:text-stone-400 text-sm">
                        {institute.association.name} —{" "}
                        <span class="text-[#1c5e94] dark:text-[#92C8F5]">
                          {dayjs(institute.end_date).format("YYYY") ===
                          dayjs(institute.start_date).format("YYYY")
                            ? dayjs(institute.start_date).format("YYYY")
                            : `${dayjs(institute.start_date).format("YYYY")} - ${institute.end_date ? dayjs(institute.end_date).format("YYYY") : "Present"}`}
                        </span>
                      </p>
                    </div>
                    <div class="text-stone-900 dark:text-stone-300 mt-1">
                      {institute.content && (
                        <Markdown content={institute.content} />
                      )}
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</MainLayout>
